<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gestion Clients!{% endblock %}</title>
        {% block stylesheets %}<meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="/css/client.css" >
        <!-- Compiled and minified JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="https://use.fontawesome.com/66c12c9159.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}

        <nav>
            <div class="nav-wrapper grey darken-1">
                <a href="index.php" <i class="fa fa-home fa-4x" aria-hidden="true"></i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <a href="ajoutClient">Ajout Client</a>
                </ul>
            </div>
        </nav>

        <table>
        <caption>Liste des clients</caption>
          <tr>
            <th>Numero client</th>
            <th>Nom</th>
            <th>prenom</th>
            <th>Email</th>
            <th>Date naissance</th>
            <th>Nombre commande</th>
            <th>Montant total</th>
            <th>Date dernier achat</th>
            <th> Action </th>
          </tr>


            {% for client in clients %}
                <tbody
                    <tr>
                        <td>{{ client.numeroClient }}</td>
                        <td>{{ client.nom }}</td>
                        <td>{{ client.prenom }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.dateNaissance.format("d/m/Y") }}</td>
                        <td><a href="commande?id={{client.id}}">{{ client.nombreCommande }} </td>
                        <td>{{ client.montantTotal }}</td>
                        <td>{{ client.dateDernierAchat}}</td>
                        <td>
                          <form method="post" action="/delete">
                              <input type ="hidden" name="dA" value="{{client.commandeId}}">
                              <button class="btn waves-effect waves-light" type="submit" name="delete" value= "{{client.id}}" >Supprimer
                                  <i class="fa fa-trash material-icons right" aria-hidden="true"></i>
                              </button>
                              </form>
                          <a href="modifClient?id={{client.id}}">
                              <button class="btn waves-effect waves-light" type="submit" name="edit">Modifier
                                  <i class="fa fa-pencil-square-o material-icons right" aria-hidden="true"></i>
                              </button>
                          </a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
          </table>
          {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
